<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">
    <script src="/static/htmx.min.js" type="text/javascript"></script>
    <title>Lazy Board Games</title>
    <style>
        #content {
            max-height: calc(100% - 50px);
            overflow-y: scroll;
            overflow: hidden;
        }
    </style>
</head>

<body>
    <nav class="bg-gray-500">
        <div class="px-4 sm:px-6 lg:px-8">
            <div class="flex items-center justify-between h-12">
                <div class="text-yellow-200 italic text-xl font-bold">Lazy Board Games</div>
                <div class="hidden md:flex gap-1">
                    <a class="py-1 px-2 rounded-md text-white hover:text-yellow-200 hover:bg-gray-700"
                        href="/games">Games</a>
                    <a class="py-1 px-2 rounded-md text-white hover:text-yellow-200 hover:bg-gray-700"
                        href="/highscores">Highscores</a>
                    <a class="py-1 px-2 rounded-md text-white hover:text-yellow-200 hover:bg-gray-700"
                        href="/account">Account</a>
                    <a class="py-1 px-2 rounded-md text-white hover:text-yellow-200 hover:bg-gray-700"
                        href="/create-account">Creatge Account</a>
                </div>
                <div class="-mr-2 flex md:hidden">
                    <div class="text-yellow-200 cursor-pointer">
                        <span class="sr-only">Open main menu</span>
                        <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                            aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                                d="M4 6h16M4 12h16M4 18h16">
                            </path>
                        </svg>
                        <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                            aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                                d="M6 18L18 6M6 6l12 12">
                            </path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile menu, show/hide based on menu state -->
        <div class="md:hidden">
            <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
                <a class="block py-1 px-2 rounded-md text-white hover:text-yellow-200 hover:bg-gray-700"
                    href="/games">Games</a>
                <a class="block py-1 px-2 rounded-md text-white hover:text-yellow-200 hover:bg-gray-700"
                    href="/highscores">Highscores</a>
                <a class="block py-1 px-2 rounded-md text-white hover:text-yellow-200 hover:bg-gray-700"
                    href="/account">Account</a>
                <a class="block py-1 px-2 rounded-md text-white hover:text-yellow-200 hover:bg-gray-700"
                    href="/create-account">Creatge
                    Account</a>
            </div>
        </div>
    </nav>

    <section id="content" class="p-4">
        {{ embed }}
    </section>
</body>

</html>